/* http://meyerweb.com/eric/tools/css/reset/ 
   v2.0 | 20110126
   License: none (public domain)
*/
html,
body,
div,
span,
applet,
object,
iframe,
h1,
h2,
h3,
h4,
h5,
h6,
p,
blockquote,
pre,
a,
abbr,
acronym,
address,
big,
cite,
code,
del,
dfn,
em,
img,
ins,
kbd,
q,
s,
samp,
small,
strike,
strong,
sub,
sup,
tt,
var,
b,
u,
i,
center,
dl,
dt,
dd,
ol,
ul,
li,
fieldset,
form,
label,
legend,
table,
caption,
tbody,
tfoot,
thead,
tr,
th,
td,
article,
aside,
canvas,
details,
embed,
figure,
figcaption,
footer,
header,
hgroup,
menu,
nav,
output,
ruby,
section,
summary,
time,
mark,
audio,
video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article,
aside,
details,
figcaption,
figure,
footer,
header,
hgroup,
menu,
nav,
section {
  display: block;
}
body {
  line-height: 1;
}
ol,
ul {
  list-style: none;
}
blockquote,
q {
  quotes: none;
}
blockquote:before,
blockquote:after,
q:before,
q:after {
  content: '';
  content: none;
}
table {
  border-collapse: collapse;
  border-spacing: 0;
}
/* Set every element's box-sizing to border-box */
* {
  box-sizing: border-box;
}
html,
body {
  height: 100%;
  font-size: 62.5%;
  background: #b3b3b3;
  font-family: 'Roboto', sans-serif;
}
.navigate {
  display: flex;
  justify-content: flex-end;
  padding: 2% 4%;
  background: whitesmoke;
  border: 25px solid #b3b3b3;
}
.navigate .links {
  color: black;
  font-size: 2rem;
  text-decoration: none;
  padding: 0 2%;
}
.navigate .links:hover {
  text-decoration: underline;
  color: #ade294;
}
.navigate .links:active {
  color: #136b9e;
}
.resume {
  border: 50px solid whitesmoke;
}
.resume .banner {
  padding: 100px;
}
.resume .banner .headshot {
  width: 40%;
  height: auto;
  border-radius: 5%;
}
.resume .banner h1 {
  font-size: 4.8rem;
  padding: 2% 0;
}
.resume .banner h3 {
  font-size: 2.4rem;
}
.resume .skills {
  border: 1px solid purple;
  padding: 50px;
  background: red;
}
.resume .work-history {
  border: 1px solid gold;
  padding: 50px;
  background: crimson;
}
.resume .contact {
  border: 1px solid green;
  padding: 50px;
  background: brown;
}
