// Is this working?
/* http://meyerweb.com/eric/tools/css/reset/ 
   v2.0 | 20110126
   License: none (public domain)
*/

html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed, 
figure, figcaption, footer, header, hgroup, 
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure, 
footer, header, hgroup, menu, nav, section {
	display: block;
}
body {
	line-height: 1;
}
ol, ul {
	list-style: none;
}
blockquote, q {
	quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
	content: '';
	content: none;
}
table {
	border-collapse: collapse;
	border-spacing: 0;
}

/* Set every element's box-sizing to border-box */
* {
    box-sizing: border-box;
}

@background-color: rgb(179, 179, 179);
@font-style: 'Roboto', sans-serif;
@link-color: black;
@hover-color: rgb(173, 226, 148);
@link-active: rgb(19, 107, 158);
@link-padding: 0 2%;
@border-padding: 2% 4%;
@text-padding: 2% 0;


html, body {
	height: 100%;
	font-size: 62.5%;
	background: @background-color;
	font-family: @font-style;
}

.navigate {
	display: flex;
	justify-content: flex-end;
	padding: @border-padding;
	background: whitesmoke;
	border: 25px solid @background-color;

	.links {
		color: @link-color;
		font-size: 2.0rem;
		text-decoration: none;
		&:hover {text-decoration: underline;
		color: @hover-color;}
		&:active {color: @link-active;}
		padding: @link-padding;
	}
}	

.resume {
	border: 50px solid whitesmoke;

	.banner {
		padding: 100px;

		.headshot {
			width: 40%;
			height: auto;
			border-radius: 5%;
		}

		h1 {
			font-size: 4.8rem;
			padding: @text-padding;
		}

		h3 {
			font-size: 2.4rem;
		}		
	}

	.skills {
		border: 1px solid purple;
		padding: 50px;
		background: red;
	}

	.work-history {
		border: 1px solid gold;
		padding: 50px;
		background: crimson;
	}

	.contact {
		border: 1px solid green;
		padding: 50px;
		background: brown;
	}
}
